.social{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    li + li{
        margin-left: 15px;
    }
    a{
        width: 26px;
        display: flex;
        justify-content: center;
        color:  #c6ccf2;
        &:hover, &:focus{
            .social_gradient{
                opacity: 1;
            }
        }
    }
    &_gradients{
        width: 0;
        height: 0;
        overflow: hidden;
    }
    &_gradient{
        opacity: 0;
        transition: opacity 300ms;
    }
    &--header{
        @include breakpoint(medium down){
            display: none;
        }
    }
    &--popup{
        padding: 25px 24px;
        justify-content: flex-end;
        border-top: 1px solid #c6ccf2;
        @include breakpoint(small down){
            padding: 18px 16px;
            justify-content: center;
        }
        .social_gradient{
            fill: url(#gradientSecondary)
        }
        li + li{
            margin-left: 30px;
        }
        a{
            width: 40px;
            height: 32px;
            color: $white;
        }
        svg{
            width: 100%;
            height: 100%;
        }
    }
    &--footer{
        margin-left: 72px;
        padding-left: 30px;
        position: relative;
        @include breakpoint(small down){
            margin: 22px -16px 0;
            padding-left: 0;
            justify-content: center;
            padding-top: 20px;
            border-top: 1px solid #c6ccf2;
        }
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            height: 59px;
            border-left: 1px solid #C6CCF2;
            transform: translateY(-50%) rotate(-5deg);
            transform-origin: left;
            @include breakpoint(small down){
                display: none;
            }
        }
        li + li{
            margin-left: 30px;
        }
        a{
            width: 40px;
            height: 32px;
        }
        svg{
            width: 100%;
            height: 100%;
        }
    }
}