.giveaway{
    &--practice{
        .giveaway_ill_img::after{
            display: none;
        }
    }
    &_ill{
        // width: 100vw;
        margin-top: 45px;
        margin-bottom: 26px;
        margin-left: calc((100vw - 1000px) / -2);
        margin-right: calc((100vw - 1000px) / -2 - 360px);
        text-align: center;
        height: 160px;
        background: linear-gradient(262.8deg, #9F00D5 -29.15%, #011280 119.8%);
        position: relative;
        overflow: visible;
        &::after, &::before{
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 38px;
            background-image: url(../assets/img/wave@2x.png);
            background-position: center bottom;
            background-size: contain;
            transform: translateY(58%);
        }
        &::after{
            bottom: 0;
        }
        &::before{
            top: 0;
            transform: translateY(-58%) scale(-1, -1);
        }
        &_img{
            position: relative;
            z-index: 2;
            top: -20px;
            text-align: left;
            &::after{
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                width: 237px;
                height: 77px;
                transform: translateY(-50%);
                background-image: url(../assets/img/stars.svg);
                background-size: contain;
                background-position: center;
            }
        }
        + p{
            padding-left: 31%;
        }
    }
    &_token{
        display: grid;
        grid-template-columns: 38px auto;
        grid-gap: 12px;
        align-items: center;
        margin: 27px 0;
        &_text{
            margin: 0;
            font-size: 14px;
        }
        svg{
            display: block;
        }
    }
}