.main{
    display: grid;
    grid-template-columns: auto 300px;
    grid-gap: 32px;
    margin-top: 36px;
    margin-bottom: 50px;
    @include breakpoint(medium down){
        margin: 20px 0 30px;
        display: block;
    }
    @include breakpoint(small down){
        margin: 15px 0 20px;
    }
    &_header{
        line-height: 1.21;
        span{
            color: $primary-color;
        }
    }
    &_sections{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-top: 34px;
        @include breakpoint(medium down){
            max-width: 624px;
            margin-left: auto;
            margin-right: auto;
        }
        @include breakpoint(small down){
            margin: 30px 4px 0;
            padding-bottom: 20px;
            grid-gap: 12px;
        }
    }
    &_section{
        position: relative;
        &--practice{
            .main_section_header{
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &_header{
            position: absolute;
            top: 10%;
            left: 27%;
            font-size: 34px;
            color: $white;
            line-height: 1.02;
            margin: 0;
            border: 0;
            padding: 0;
            @include breakpoint(small down){
                font-size: 18px;
            }
        }
        .button{
            position: absolute;
            right: -12px;
            bottom: -12px;
            @include breakpoint(small down){
                bottom: -20px;
            }
        }
    }
    &_aside{
        padding-left: 28px;
        border-left: 1px solid #e8e8e8;
        @include breakpoint(medium down){
            display: none;
        }
    }
    &_giveaway{
        padding-bottom: 20px;
        border-bottom: 1px solid #e8e8e8;
    }
    &_sponsor{
        padding-top: 20px;
    }
}