.practice{
    display: grid;
    grid-template-columns: auto 330px;
    grid-template-areas:
        'content aside'
        'footer footer';
    grid-column-gap: 30px;
    @include breakpoint(medium down){
        display: block;
    }
    &_annotation{
        display: flex;
        align-items: flex-start;
        @include breakpoint(small down){
            display: block;
        }
        &_text{
            padding-top: 18px;
            @include breakpoint(small down){
                padding-top: 10px;
            }
            .h1{
                @include breakpoint(large){
                    display: none;
                }
            }
        }
        &_gradient{
            position: relative;
            box-shadow: 0 4px 10px rgba(51, 61, 126, 0.2), 0 2px 3px rgba(64, 69, 97, 0.3);
            background: linear-gradient(180deg, #0850E1 0%, #2D0096 100%);
            border-radius: 0px 0px 12px 12px;
            padding: 18px 30px;
            color: $white;
            margin: 0 -30px 0 20px;
            @include breakpoint(medium down){
                margin: 0 0 0 20px;
                padding: 18px 16px;
                flex: 0 0 320px;
            }
            @include breakpoint(small down){
                margin: 30px -16px 0;
            }
            &::after{
                content: '';
                position: absolute;
                top: calc(100% - 6px);
                right: 13px;
                height: 395px;
                border-left: 1px solid #c6ccf2;
                z-index: -1;
                box-shadow: 13px -44px 0 #c6ccf2;
                @include breakpoint(medium down){
                    display: none;
                }
            }
        }
    }

    &_why{
        @include breakpoint(medium only){
            > h2, > p {
                max-width: calc(100% - 350px);
            }
        }
    }

    &_cta{
        background-image: linear-gradient(0deg, #0850e1 0%, #2d0096 74%);
        margin-left: calc((100vw - 1000px) / -2 - 3px);
        margin-right: calc((100vw - 1000px) / -2 - 363px);
        font-size: 14px;
        color: $white;
        position: relative;
        margin-top: 25px;
        @include breakpoint(medium down){
            margin: 30px -24px 45px;
        }
        @include breakpoint(small down){
            margin: 200px -16px 40px;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 38px;
            transform: translateY(-58%) scale(-1, -1);
            background-image: url(../assets/img/wave.svg);
            background-size: auto 100%;
            background-position: center bottom;
            @include breakpoint(medium down){
                background-size: 100% 100%;
            }
        }
        &_container{
            min-height: 184px;
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
            @include breakpoint(medium down){
                min-height: 214px;
                padding-top: 66px;
                align-items: flex-start;
            }
            @include breakpoint(small down){
                padding-top: 186px;
                padding-bottom: 40px;
            }
            &::before{
                content: '';
                position: absolute;
                right: calc(100% - 30px);
                top: 5%;
                width: 237px;
                height: 69px;
                transform: rotate(120deg);
                transform-origin: bottom;
                background-image: url(../assets/img/stars.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                z-index: 5;
                @include breakpoint(medium down){
                    right: auto;
                    left: -93px;
                }
                @include breakpoint(small down){
                    display: none;
                }
            }
        }
        &_img{
            position: absolute;
            bottom: -108px;
            right: -19%;
            width: 100%;
            max-width: 620px;
            z-index: 2;
            @include breakpoint(medium down){
                bottom: calc(100% - 46px);
                right: 0;
                width: auto;
            }
            @include breakpoint(small down){
                bottom: calc(100% - 160px);
            }
        }
        &_text{
            margin: 0;
            max-width: 640px;
            padding-left: 32px;
            @include breakpoint(medium down){
                padding-left: 116px;
                max-width: none;
            }
            @include breakpoint(small down){
                padding-left: 0;
            }
        }
    }

    &_how{
        @include breakpoint(medium only){
            position: relative;
            > h2, > p {
                max-width: calc(100% - 360px);
            }
        }
    }

    &_quote{
        padding: 30px 64px 30px 44px;
        margin: 30px 0;
        margin-right: -30px;
        position: relative;
        @include breakpoint(medium only){
            position: absolute;
            right: 0;
            &--top{
                top: 60px;
            }
            &--bottom{
                top: 401px;
            }
            &--solutions{
                // top: 180px;
                margin-top: 20px;
            }
            padding: 20px 15px;
            margin: 0;
            float: right;
            max-width: 300px;
        }
        @include breakpoint(small down){
            padding: 15px;
            margin-right: 0;
        }
        &::before{
            content: '';
            border-radius: 12px;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, #054ddd 0%, #8604b3 100%);
            z-index: -2;
        }
        &::after{
            content: '';
            position: absolute;
            top: 1px;
            left: 1px;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            background: $white;
            border-radius: 11px;
            z-index: -1;
        }
        cite{
            &::after{
                content: '';
                position: absolute;
                right: 0;
                top: calc(100% - 57px);
                height: 166px;
                border-left: 1px solid #8704b3;
                @include breakpoint(medium down){
                    display: none;
                }
            }
        }
    }
    &_extension{
        background-image: url(../assets/img/bg_extension@2x.jpg);
        background-size: contain;
        background-position: center bottom;
        margin: 40px calc((100vw - 1000px) / -2 - 363px) 0 calc((100vw - 1000px) / -2 - 3px);
        color: $white;
        position: relative;
        background-image: linear-gradient(180deg, #0850e1 0%, #2d0096 61%);
        @include breakpoint(medium down){
            clear: both;
            margin: 46% -24px 0;
        }
        @include breakpoint(small down){
            padding-top: 135px;
            margin: 125px -16px 0;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 38px;
            background-image: url(../assets/img/wave.svg);
            background-position: center bottom;
            background-size: auto 100%;
            transform: translateY(58%);
            z-index: 3;
            @include breakpoint(medium down){
                background-size: 100% 100%;
            }
        }
        &_container{
            min-height: 254px;
            display: flex;
            align-items: center;
            padding-bottom: 16px;
            // padding-top: 52px;
            position: relative;
            width: 100%;
            @include breakpoint(medium down){
                // padding-top: 42px;
                // padding-bottom: 58px;
                // min-height: auto;
            }
            @include breakpoint(small down){
                flex-direction: column;
            }
            &::before{
                content: '';
                position: absolute;
                right: calc(100% - 10px);
                top: 47px;
                width: 237px;
                height: 77px;
                transform: rotate(115deg);
                transform-origin: bottom;
                background-image: url(../assets/img/stars.svg);
                background-size: contain;
                background-position: center;
                z-index: 5;
                @include breakpoint(medium down){
                    display: none;
                }
            }
            &::after{
                content: '';
                position: absolute;
                top: -18px;
                right: calc(1000px - 655px + 6px);
                width: 363px;
                height: 291px;
                background-image: url(../assets/img/unicorn_beams@2x.png);
                background-size: contain;
                z-index: 2;
                @include breakpoint(medium down){
                    top: auto;
                    bottom: 100%;
                    left: 24px;
                    width: 392px;
                    height: 314px;
                    background-size: cover;
                }
                @include breakpoint(small down){
                    left: calc(50% - 160px);
                    width: 100%;
                    max-width: 320px;
                    height: 250px;
                }
            }
        }
        &_browser{
            position: absolute;
            top: -17px;
            left: calc(100% - 346px);
            width: 100%;
            max-width: 500px;
            height: 580px;
            background-image: url(../assets/img/browser@2x.jpg);
            background-size: contain;
            background-repeat: no-repeat;
            @include breakpoint(medium down){
                background: 0;
                height: auto;
                max-width: 320px;
                left: auto;
                right: 24px;
                top: 12px;
            }
            @include breakpoint(small down){
                position: static;
                order: -1;
            }
        }
        &_img{
            position: relative;
            display: table;
            margin-left: 33px;
            margin-top: 40px;
            @include breakpoint(medium down){
                margin: 0;
            }
            @include breakpoint(small down){
                margin-left: -16px;
                margin-right: -16px;
            }
            &::after{
                content: '';
                position: absolute;
                right: -1px;
                top: -44px;
                width: 551px;
                height: 200px;
                background-image: url(../assets/img/beams@2x.png);
                background-size: cover;
                z-index: 3;
                @include breakpoint(medium down){
                    display: none;
                }
            }
            img{
                position: relative;
                box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
                border-radius: 3px;
                z-index: 4;
            }
        }
        &_text{
            margin: 0;
            max-width: 340px;
            @include breakpoint(medium only){
                max-width: none;
                width: calc(100% - 360px);
            }
            @include breakpoint(small down){
                padding-top: 42px;
                padding-bottom: 35px;
                max-width: none;
            }
        }
    }

    &_solutions{
        @include breakpoint(medium only){
            position: relative;
            padding-right: 330px;
        }
    }

    &_conclusion{
        @include breakpoint(medium only){
            // position: relative;
            > h2, > p {
                max-width: calc(100% - 360px);
            }
        }
    }
}