.promo{
    height: 295px;
    background-position: center;
    background-size: cover;
    @include breakpoint(medium down){
        height: 170px;
    }
    @include breakpoint(small down){
        height: 100px;
    }
    &--main{
        background-image: url(../assets/img/promos/main@2x.jpg);
        background-position: top center;
    }
    &--theory, &--practice{
        position: relative;
        background-image: url(../assets/img/promos/theory@2x.jpg);
        // cursor: pointer;
        margin-bottom: 50px;
        @include breakpoint(medium down){
            height: 230px;
            margin-bottom: 26px;
        }
        @include breakpoint(small down){
            height: 100px;
            margin: 0 -16px 16px;
        }
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../assets/img/promos/theory_hover@2x.jpg);
            background-position: center;
            background-size: cover;
            z-index: 2;
            transition: opacity 400ms, visibility 400ms;
            visibility: hidden;
            opacity: 0;
        }
        &::after{
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 149px;
            height: 151px;
            background-image: url(../assets/img/finger_tap.svg);
            background-size: contain;
            z-index: 1;
            @include breakpoint(medium down){
                width: 120px;
                height: 120px;
            }
            @include breakpoint(small down){
                width: 70px;
                height: 70px;
            }
        }
        &:hover, &:focus{
            &::before{
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &--practice{
        background-image: url(../assets/img/promos/practice@2x.jpg);
        background-size: auto 100%;
        background-repeat: no-repeat;
        padding-top: 20px;
        margin: 0;
        height: 290px;
        @include breakpoint(large down){
            background-image: url(../assets/img/promos/practice.jpg);
        }
        @include breakpoint(medium down){
            height: 170px;
        }
        @include breakpoint(small down){
            height: 100px;
        }
        &:before{
            background-image: url(../assets/img/promos/practice_hover@2x.jpg);
            background-size: auto 100%;
            // background-repeat: no-repeat;
            @include breakpoint(medium down){
                opacity: 1;
                visibility: visible;
            }
        }
        .h1{
            position: relative;
            z-index: 3;
            margin-left: -27px;
            transition: color 400ms, text-shadow 400ms;
            @include breakpoint(large down){
                margin-left: 20px;
            }
            @include breakpoint(medium down){
                display: none;
            }
        }
        &:hover, &:focus{
            .h1{
                color: $white;
                text-shadow: -3px 0 0 #9900cc;
            }
        }
    }
}