.theory{
    display: grid;
    grid-template-columns: auto 330px;
    grid-template-areas:
        'content aside'
        'sponsor sponsor';
    grid-column-gap: 30px;
    padding-bottom: 15px;
    &_content{
        grid-area: content;
    }

    &_gradient{
        position: relative;
        border-radius: 5px;
        background-image: linear-gradient(to top, #2d0096 0%, #0850e1 100%);
        color: $white;
        margin: 0 -30px 1em -22px;
        padding: 1em 30px 1em 22px;
        p:last-of-type{
            margin: 0;
        }
        &--list{
            font-weight: 700;
            list-style: none;
            // padding-top: 20px;
            // padding-bottom: 20px;
            counter-reset: web -1;
            li{
                display: flex;

                counter-increment: web;
                &::before{
                    content: counter(web) '.0';
                    margin-right: 20px;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 1;
                }
                + li {
                    margin-top: 1em;
                }
            }
        }
        &--unicorns{
            margin-right: -100px;
            padding-right: 100px;
            .theory_gradient_img{
                width: 100%;
                max-width: 330px;
                bottom: 0;
                left: calc(100% - 70px);
            }
        }
        &--img{
            display: grid;
            grid-gap: 30px;
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
        &--spaceman{
            padding-bottom: 33%;
            margin-bottom: calc(9% + 40px);
            .theory_gradient_img{
                margin-right: calc(-5.8% - 30px);
                margin-left: -22px;
                bottom: -53px;
            }
        }
        &--blockchain{
            .theory_gradient_img{
                left: calc(100% - 30px);
                top: -89px;
                width: 100%;
                max-width: 360px;
            }
        }
        &_img{
            position: absolute;
        }
    }
    &_fix{
        position: relative;
        &--forecasts{
            margin-top: 48px;
        }
    }
    &_img{
        margin: 36px 0;
        &--forecasts{
            margin-left: -22px;
            margin-right: -77px;
        }
    }
    &_website{
        position: relative;
    }
    &_figure{
        position: absolute;
        top: -84px;
        left: calc(100% + 60px);
        width: calc(1000px - 640px - 60px);
        padding: 0 24px 19px;
        &--tim{
            top: 32px;
        }
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 74px;
            border-radius: 5px;
            background-image: linear-gradient(to top, #ab14e7 0%, #ff00ff 100%);
            z-index: -1;
        }
        &_caption{
            position: absolute;
            top: calc(100% + 13px);
            font-style: italic;
            color: #e606f8;
        }
    }
    &_buttons{
        margin-top: 32px;
        .button + .button{
            margin-left: 14px;
        }
    }
}