.theory{
    position: relative;
    display: grid;
    grid-template-columns: auto 330px;
    grid-template-areas:
        'content aside'
        'sponsor sponsor';
    grid-column-gap: 30px;
    padding-bottom: 15px;
    &_content{
        grid-area: content;
    }
    &_aside{
        grid-area: aside;
        &_header{
            font-weight: 700;
            margin-bottom: 10px;
        }
    }
    &_consists{
        padding-top: 48px;
        padding-left: 30px;
        padding: 48px 30px 30px;
        background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%22487%22%20height%3D%22308%22%20viewBox%3D%220%200%20487%20308%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%200H487V293.5C487%20293.5%20349%20261.5%20243.5%20293.5C138%20325.5%200%20293.5%200%20293.5V0Z%22%20fill%3D%22%23ffffff%22%2F%3E%3C%2Fsvg%3E);
        background-size: cover;
        background-position: bottom center;

    }
    &_menu{
        margin: 0;
        list-style: none;
        max-width: 265px;
        // padding-bottom: 10px;
        &.nested{
            padding: 5px 0 0 30px;
        }
        &--main{
            margin-top: 10px;
            border-top: 1px solid #c6ccf2;
            padding-top: 5px;
        }
        li{
            &:not(.is-submenu-item){
                margin-top: 5px;
            }
            &.is-accordion-submenu-parent{
                > a{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &::after{
                        content: '';
                        width: 17px;
                        height: 9px;
                        background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2217%22%20height%3D%229%22%20viewBox%3D%220%200%2017%209%22%3E%3Cpath%20fill-opacity%3D%220%22%20stroke%3D%22%23000000%22%20stroke-width%3D%221%22%20d%3D%22M16.27757%2C0.49749v0l-7.77803%2C7.7784v0l-7.77848%2C-7.7784v0%22%2F%3E%3C%2Fsvg%3E);
                        margin-left: 10px;
                        transition: transform 300ms;
                    }
                    &:hover{
                        border-bottom-color: $primary-color;
                        &::after{
                            background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2217%22%20height%3D%229%22%20viewBox%3D%220%200%2017%209%22%3E%3Cpath%20fill-opacity%3D%220%22%20stroke%3D%22%23054ddd%22%20stroke-width%3D%221%22%20d%3D%22M16.27757%2C0.49749v0l-7.77803%2C7.7784v0l-7.77848%2C-7.7784v0%22%2F%3E%3C%2Fsvg%3E);
                        }
                    }
                }
                &[aria-expanded="true"]{
                    > a{
                        color: $primary-color;
                        border-bottom-color: $primary-color;
                        &::after{
                            transform: rotate(180deg);
                            background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2217%22%20height%3D%229%22%20viewBox%3D%220%200%2017%209%22%3E%3Cpath%20fill-opacity%3D%220%22%20stroke%3D%22%23054ddd%22%20stroke-width%3D%221%22%20d%3D%22M16.27757%2C0.49749v0l-7.77803%2C7.7784v0l-7.77848%2C-7.7784v0%22%2F%3E%3C%2Fsvg%3E);
                        }
                    }
                }
            }
        }
        a {
            display: block;
            font-weight: 300;
            color: $black;
            border-bottom: 1px solid transparent;
            transition: border 250ms, color 250ms;
            &:hover, &:target, &.is-active{
                color: $primary-color;
            }
        }
    }

    &_gradient{
        position: relative;
        border-radius: 5px;
        background-image: linear-gradient(to top, #2d0096 0%, #0850e1 100%);
        color: $white;
        margin: 0 -30px 1em -22px;
        padding: 1em 30px 1em 22px;
        p:last-of-type{
            margin: 0;
        }
        &--list{
            font-weight: 700;
            list-style: none;
            // padding-top: 20px;
            // padding-bottom: 20px;
            counter-reset: web -1;
            li{
                display: flex;

                counter-increment: web;
                &::before{
                    content: counter(web) '.0';
                    margin-right: 20px;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 1;
                }
                + li {
                    margin-top: 1em;
                }
            }
        }
        &--unicorns{
            margin-right: -100px;
            padding-right: 100px;
            .theory_gradient_img{
                width: 100%;
                max-width: 330px;
                bottom: 0;
                left: calc(100% - 70px);
            }
        }
        &--img{
            display: grid;
            grid-gap: 30px;
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
        &--spaceman{
            padding-bottom: 33%;
            margin-bottom: calc(9% + 40px);
            .theory_gradient_img{
                margin-right: calc(-5.8% - 30px);
                margin-left: -22px;
                bottom: -53px;
            }
        }
        &--blockchain{
            .theory_gradient_img{
                left: calc(100% - 30px);
                top: -89px;
                width: 100%;
                max-width: 360px;
            }
        }
        &_img{
            position: absolute;
        }
    }
    &_fix{
        position: relative;
        &--forecasts{
            margin-top: 48px;
        }
    }
    &_img{
        margin: 36px 0;
        &--forecasts{
            margin-left: -22px;
            margin-right: -77px;
        }
    }
    &_website{
        position: relative;
    }
    &_figure{
        position: absolute;
        top: -84px;
        left: calc(100% + 60px);
        width: calc(1000px - 640px - 60px);
        padding: 0 24px 19px;
        &--tim{
            top: 32px;
        }
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 74px;
            border-radius: 5px;
            background-image: linear-gradient(to top, #ab14e7 0%, #ff00ff 100%);
            z-index: -1;
        }
        &_caption{
            position: absolute;
            top: calc(100% + 13px);
            font-style: italic;
            color: #e606f8;
        }
    }
    &_buttons{
        margin-top: 32px;
        .button + .button{
            margin-left: 14px;
        }
    }
    &_up{
        position: absolute;
        bottom: 165px;
        right: 34px;
        max-width: 48px;
    }
}