footer.footer
    ul.footer_list
        li Автор — Кшиштоф Шпак
        li Редактор — Татьяна Оттер
        li Дизайнеры — Дмитрий Бойко и Заруи Аракелян
        li Разработчик — Александр Пупко
        li Проектный менеджер — Константин Голубев
        li Руководитель — Влад Лихута
    +social()(class="social--footer")
a.up.up--practice(href="#top" data-smooth-scroll data-offset="58" data-animation-easing="swing")