mixin giveaway(is_main)
    section#giveaway.giveaway&attributes(attributes)
        h2
            | Розыгрыш
        p
            | Авторизуйтесь на&nbsp;ForkLog через Waves Keeper, чтобы участвовать в&nbsp;розыгрыше аппаратного криптокошелька Ledger Nano S&nbsp;и&nbsp;1000 токенов waves (~$1300).
        .giveaway_ill
            .grid-container
                .giveaway_ill_img
                    picture
                        source(srcset="./assets/img/ledger_mobile@2x.png 2x, ./assets/img/ledger_mobile.png 1x" media="(max-width: 639px)")
                        source(srcset="./assets/img/ledger_giveaway@2x.png 2x, ./assets/img/ledger_giveaway.png 1x")
                        img(src="./assets/img/ledger_giveaway.png", alt="Ledger Nano S")
        p
            | Чтобы участвовать в&nbsp;розыгрыше, авторизуйтесь на&nbsp;ForkLog через 
            | 
            a(href="https://wavesplatform.com/products-keeper" target="_blank") Waves Keeper
            | 
            | в&nbsp;десктопном браузере с&nbsp;ДД.ММ по&nbsp;ДД2.ММ2. Мы объявим адрес кошелька победителя ДД3.ММ3. в Telegram-каналах
            | 
            a(href="https://t.me/forklog" target="_blank") ForkLog
            | 
            | и
            | 
            a(href="https://t.me/WavesNewsRU" target="_blank") Waves
            | .

        .giveaway_token
            .giveaway_token_icon
                svg(xmlns='http://www.w3.org/2000/svg', width='38', height='38', fill='none', viewBox='0 0 38 38')
                    circle(cx='19', cy='19', r='18.5', fill='white', stroke='url(#paint0_linear)')
                    path(fill='url(#paint1_linear)', d='M22.1511 25.4325C22.1433 25.4351 21.4323 25.6743 20.8151 25.6743C20.4744 25.6743 20.3368 25.6028 20.2931 25.5716C20.077 25.4195 19.6759 25.1348 20.3625 23.7516L21.6483 21.1594C22.4108 19.6202 22.524 18.1317 21.9633 16.9669C21.5056 16.014 20.6274 15.3601 19.4946 15.1261C19.087 15.0416 18.6729 15 18.2628 15C15.8853 15 14.2845 16.404 14.2176 16.4638C13.9874 16.6692 13.9334 17.0098 14.0864 17.2776C14.2407 17.5454 14.5583 17.6676 14.8515 17.5662C14.8579 17.5636 15.5703 17.3231 16.1875 17.3231C16.5256 17.3231 16.6619 17.3946 16.7044 17.4245C16.9217 17.5779 17.3241 17.8665 16.6388 19.2471L15.353 21.8406C14.5892 23.3811 14.4773 24.8696 15.0379 26.0331C15.4957 26.986 16.3726 27.6399 17.508 27.8739C17.9117 27.9558 18.3258 28 18.7347 28C21.1134 28 22.7155 26.596 22.7824 26.5362C23.0126 26.3321 23.0666 25.9902 22.9136 25.7224C22.7593 25.4559 22.4391 25.3363 22.1511 25.4325Z')
                    path(fill='url(#paint2_linear)', d='M21 14C22.6569 14 24 12.6569 24 11C24 9.34315 22.6569 8 21 8C19.3431 8 18 9.34315 18 11C18 12.6569 19.3431 14 21 14Z')
                    defs
                        lineargradient#paint0_linear(x1='19', x2='19', y1='0', y2='38', gradientUnits='userSpaceOnUse')
                            stop(stop-color='#054DDD')
                            stop(offset='1', stop-color='#8704B3')
                        lineargradient#paint1_linear(x1='19.8477', x2='-5.19703', y1='48.8833', y2='36.6148', gradientUnits='userSpaceOnUse')
                            stop(stop-color='#9F00D5')
                            stop(offset='1', stop-color='#011280')
                        lineargradient#paint2_linear(x1='19.8477', x2='-5.19703', y1='48.8833', y2='36.6148', gradientUnits='userSpaceOnUse')
                            stop(stop-color='#9F00D5')
                            stop(offset='1', stop-color='#011280')
            p.giveaway_token_text
                | Победителю нужно будет подтвердить владение кошельком. Инструкцию опубликуем в день оглашения результатов розыгрыша. Доставку аппаратного кошелька оформим через курьерскую службу по выбору победителя.
        p
            | Победителя определит блокчейн-рандомайзер от&nbsp;ForkLog и&nbsp;Waves. Это наша новая секретная разработка, мы&nbsp;уже заканчиваем страницы и&nbsp;скоро все опубликуем.
        if is_main
            .giveaway_sponsor
                p
                    | Спонсор спецпроекта — 
                    |
                    a(href="https://wavesplatform.com/" target="_blank") Waves
                    | 
                    | — поставщик блокчейн-решений для экосистемы Web 3.0. Среди разработок компании: платформа для децентрализованных приложений Waves Platform, масштабируемый блокчейн для предприятий Vostok, браузерное приложение-аутентификатор Waves Keeper и язык программирования RIDE.
                a.button.primary(href="https://wavesplatform.com/" target="_blank")
                    | К платформе