section.grid-container.main
    article.main_content
        p.h1.main_header
            | Эволюция сети от Web 1.0 к 
            span Web 3.0
        p
            | Всемирной паутине 30 лет. За это время мы пришли от статичных личных страниц Web 1.0 к потоковому HD-видео и социальным сетям с встроенными играми — современному Web 2.0. На этом развитие сети не останавливается.
        h1.p
            | При поддержке проекта
            | 
            a(href="https://wavesplatform.com/" target="_blank") Waves
            | 
            | мы подготовили спецпроект о Web 3.0 — следующей стадии технической и социальной эволюции Всемирной паутины.
        p.p
            | Спецпроект состоит из двух частей: о теории и о практике Web 3.0. В первой части вы узнаете об истории сети, основных веб-технологиях и ожиданиях от будущего. Во второй — о существующих примерах 3.0-решений, принципах их работы и роли в будущей экосистеме. 
        .main_sections
            .main_section.main_section--theory
                h2.main_section_header
                    | Теория
                img(srcset="./assets/img/bg_theory@2x.png 2x, ./assets/img/bg_theory.png 1x" src="./assets/img/bg_theory.png", alt="Теория")
                a.button.primary.icon(href="./theory.html")
                    | Читать
                    +icon('arr', [13, 18])
            .main_section.main_section--practice
                h2.main_section_header
                    | Практика
                img(srcset="./assets/img/bg_practice@2x.png 2x, ./assets/img/bg_practice.png 1x" src="./assets/img/bg_practice.png", alt="Теория")
                a.button.primary.icon(href="./practice.html")
                    | Читать
                    +icon('arr', [13, 18])
    aside.main_aside
        .main_giveaway
            p
                | Авторизуйтесь на ForkLog через Waves Keeper в десктопном браузере, чтобы участвовать в розыгрыше аппаратного криптокошелька Ledger Nano S и 1000 токенов waves (~$1300).
            .main_giveaway_img
                img(srcset="./assets/img/ledger@2x.png 2x, ./assets/img/ledger.png 1x" src="./assets/img/ledger.png", alt="Ledger Nano S")
            a.button.secondary(href="#")
                | Авторизоваться
        .main_sponsor
            p
                | Спонсор спецпроекта — 
                |
                a(href="https://wavesplatform.com/" target="_blank") Waves
                | 
                | — поставщик блокчейн-решений для экосистемы Web 3.0. Среди разработок компании: платформа для децентрализованных приложений Waves Platform, масштабируемый блокчейн для предприятий Vostok, браузерное приложение-аутентификатор Waves Keeper и язык программирования RIDE.
            a.button.primary(href="https://wavesplatform.com/" target="_blank")
                | К платформе
    +giveaway(true)(class="giveaway--main")