section.practice_annotation
    p
        | В&nbsp;теоретической части этого спецпроекта мы&nbsp;рассмотрели этапы становления сети, ее&nbsp;ключевые технологии и&nbsp;возможные варианты развития. В&nbsp;этом материале мы&nbsp;рассказываем о&nbsp;существующих Web&nbsp;3.0&nbsp;решениях, их&nbsp;роли в&nbsp;будущей экосистеме и&nbsp;том, как они работают на&nbsp;практике. 
    p.practice_annotation_gradient
        | Практическое занятие: авторизуйтесь на&nbsp;ForkLog через Waves Keeper и&nbsp;участвуйте в&nbsp;розыгрыше
        | 
        a.secondary(href="#" target="_blank") приза
        | . Для определения победителя мы&nbsp;используем рандомайзер на&nbsp;блокчейне&nbsp;&mdash; совместную разработку ForkLog и&nbsp;Waves. Авторизуйтесь в&nbsp;Waves Keeper и&nbsp;читайте дальше&nbsp;&mdash; там все подробности.
    