section.practice_conclusion
    h2#conclusion(data-magellan-target="conclusion")
        | Заключение
    p
        | Экосистема 
        | 
        a(href="https://wavesplatform.com/" target="_blank") Waves
        | &nbsp;&mdash; один из&nbsp;элементов будущего Web&nbsp;3.0. Сегодня она служит примером возможностей новой сети. 

    p
        | Как устройства и&nbsp;приложения в&nbsp;экосистеме Apple, решения Waves лучше работают вместе.

    p
        | В&nbsp;будущем в&nbsp;такие экосистемы войдут IoT-устройства вроде умных домов и&nbsp;автомобилей, аналитические системы на&nbsp;основе&nbsp;ИИ и&nbsp;базы метаданных. Чем больше отдельных экосистем, устройств и&nbsp;приложений войдет в&nbsp;глобальную экосистему Web&nbsp;3.0, тем шире будут ее&nbsp;возможности и&nbsp;объем новой генеративной информации.

