section#how.practice_how(data-magellan-target="how")
    h2
        | Как работает Waves Keeper
    p
        | Waves Keeper&nbsp;&mdash; это расширение для браузера, которое хранит приватные ключи пользователя и&nbsp;упрощает взаимодействие с&nbsp;веб-сервисами и&nbsp;распределенными приложениями, интегрированными с&nbsp;Waves.
    p
        | Главная функция расширения&nbsp;&mdash; авторизовать пользователя в&nbsp;децентрализованных приложениях и&nbsp;сделать это максимально безопасно. 
    blockquote.practice_quote.practice_quote--top
        | &laquo;Waves Keeper не&nbsp;хранит приватные ключи на&nbsp;сервере. Ключи шифруются паролем, который знает только пользователь. Зашифрованные ключи находятся в&nbsp;браузерном хранилище на&nbsp;его компьютере. Это хранилище устроено так, что к&nbsp;данным конкретного расширения не&nbsp;могут получить доступ другие приложения&raquo;,
        cite
            | Максим Симонов, директор по продуктам Wallet и Keeper в
            | 
            a(href="https://wavesplatform.com/" target="_blank") Waves
            | .
    p
        | В&nbsp;локальном хранилище ваш Chrome хранит данные о&nbsp;том, где вы&nbsp;закончили смотреть видео, или другую информацию, которую нужно сохранить после закрытия браузера. 
    p
        | У&nbsp;Waves Keeper нет центрального сервера, который можно атаковать. Чтобы добраться к&nbsp;данным, злоумышленнику придется получить доступ к&nbsp;вашему компьютеру и&nbsp;узнать пароль.
    blockquote.practice_quote.practice_quote--bottom
        | &laquo;Расширение не&nbsp;покажет Waves-адрес и&nbsp;не&nbsp;разрешит сторонним приложениям взаимодействие с&nbsp;аккаунтом, пока пользователь не&nbsp;даст согласие на&nbsp;это. Так можно безопасно работать с&nbsp;любым децентрализованным приложением на&nbsp;Waves&raquo;,
        cite подчеркнула Максим Симонов, директор по продуктам Wallet и Keeper в
        | 
        a(href="https://wavesplatform.com/" target="_blank") Waves
        | .
    .practice_extension
        .grid-container.practice_extension_container
            p.practice_extension_text
                | Waves Keeper работает как любое другое браузерное расширение. Вы&nbsp;устанавливаете расширение по&nbsp;официальной ссылке, создаете новый аккаунт и&nbsp;продолжаете пользоваться браузером. Расширение обратит на&nbsp;себя внимание, когда нужно будет подтвердить транзакцию или совершить другое действие. 
            .practice_extension_browser
                .practice_extension_img
                    img(srcset="./assets/img/extension@2x.jpg 2x, ./assets/img/extension.jpg 1x" src="./assets/img/extension.jpg", alt="Расширение")