section#solutions.practice_solutions
    h2
        | Другие решения Waves 
    p
        | Waves Keeper&nbsp;&mdash; часть технологической экосистемы Waves. Помимо Waves Keeper команда разработала: свой блокчейн, язык программирования, клиент и&nbsp;другие продукты.
    blockquote.practice_quote.practice_quote--solutions
        | &laquo;Все наши технологии&nbsp;&mdash; открытые. Каждый желающий может свободно использовать и&nbsp;модифицировать их&nbsp;для своих задач и&nbsp;продуктов&raquo;,
        cite
            | Глеб Сычев, директор по&nbsp;маркетингу
            | 
            a(href="https://wavesplatform.com/" target="_blank") Waves
            | .
    h3#infrastructure(data-magellan-target="infrastructure")
        | Инфраструктура для приложений
    p
        | Для создания децентрализованных приложений и&nbsp;смарт-контактов в&nbsp;экосистеме Waves разработали
        | 
        strong язык программирования RIDE
        | . Это функциональный язык со&nbsp;статической типизацией: данные не&nbsp;могут поменять тип, например, с&nbsp;числа на&nbsp;текст. Значения переменных тоже не&nbsp;меняются. Код на&nbsp;таких языках легче проверить на&nbsp;наличие ошибок. 

    p
        strong Блокчейн Waves
        | 
        | обеспечивает прозрачную безопасную среду для транзакций между приложениями и&nbsp;пользователями в&nbsp;экосистеме. Это публичный блокчейн: любой может присоединиться к&nbsp;сети, считывать и&nbsp;записывать данные в&nbsp;блокчейне. 

    p
        | Блокчейн Waves использует вариант алгоритма консенсуса Proof-of-Stake&nbsp;&mdash; Leased Proof-of-Stake (LPoS). Добавлением блоков в&nbsp;цепь занимаются полные узлы&nbsp;&mdash; валидаторы. Для валидатора возможность добавить новый блок зависит от&nbsp;ставки (stake)&nbsp;&mdash; суммы токенов, которую он&nbsp;замораживает в&nbsp;блокчейне в&nbsp;качестве залога. Если валидатор нарушает правила, остальные узлы не&nbsp;принимают его блок. Если выполняет&nbsp;&mdash; получает вознаграждение. Пользователи в&nbsp;LPoS-сетях делегируют токены и&nbsp;права на&nbsp;подтверждение транзакций полным узлам в&nbsp;обмен на&nbsp;часть вознаграждения.

    p
        | Партнер Waves Tradisys разрабатывает собственный AppStore для децентрализованных приложений&nbsp;&mdash; портал Dappocean. Там можно будет ознакомиться с&nbsp;коллекцией всех приложений в&nbsp;экосистеме Waves, просмотреть их&nbsp;описания и&nbsp;статистику, перейти к&nbsp;соцсетям разработчиков и&nbsp;получить централизованную поддержку.

    p
        | А&nbsp;еще Waves поддерживает молодые проекты, которые строят продукты для Web&nbsp;3.0: проводит оффлайн-мероприятия и&nbsp;выделяет гранты на&nbsp;разработку децентрализованных приложений. Этим занимается подразделение Waves Labs.

    blockquote.practice_quote.practice_quote--solutions
        | &laquo;Поддержка перспективных проектов приближает массовое распространение блокчейн-технологий и&nbsp;наращивает массу рабочих решений для новой паутины. Чем больше энтузиастов заняты в&nbsp;разработке, чем больше людей разделяет общие представления о&nbsp;новой эпохе, тем быстрее и&nbsp;эффективнее мы&nbsp;перейдем к&nbsp;Web&nbsp;3.0&raquo;,
        cite
            | считает Александр Иванов, основатель и&nbsp;генеральный директор
            | 
            a(href="https://wavesplatform.com/" target="_blank") Waves
            | .

    h3#finances(data-magellan-target="finances")
        | Личные финансы 

    p
        | Для менеджмента личных средств внутри действующей блокчейн-экономики Waves разработали мультивалютный криптокошелек Waves Wallet. С&nbsp;помощью кошелька можно работать с&nbsp;любыми токенами и&nbsp;приложениями на&nbsp;базе блокчейна Waves. Кошелек подключается к&nbsp;случайному узлу в&nbsp;сети и&nbsp;не&nbsp;хранит полную информацию о&nbsp;блокчейне.

    p
        strong Waves DEX
        | &nbsp;&mdash; децентрализованная биржа цифровых активов на&nbsp;базе блокчейна Waves. На&nbsp;ней торгуются все токены в&nbsp;экосистеме Waves. Waves DEX не&nbsp;хранит средства или приватные ключи пользователей. Единственный централизованный элемент в&nbsp;этой системе&nbsp;&mdash; узлы, которые подбирают пары ордеров для проведения сделок. При этом все средства переводятся только через децентрализованную блокчейн-сеть без передачи третьей стороне. Таким образом не&nbsp;нужно оплачивать услуги финансовых посредников, а&nbsp;пользователи биржи сохраняют полный контроль над своими активами.

    h3#corporate(data-magellan-target="corporate")
        | Корпоративные решения
    p
        strong Waves Enterprise (бывший Vostok)
        | &nbsp;&mdash; блокчейн-платформа, ориентированная на&nbsp;корпоративных клиентов. Блокчейн Waves Enterprise поддерживает два алгоритма консенсуса: Proof-of-Stake (PoS) и&nbsp;Proof-of-Authority (PoA). В&nbsp;PoS распределение прав на&nbsp;добавление блоков зависит от&nbsp;количества токенов на&nbsp;счету пользователя. В&nbsp;PoA права на&nbsp;добавление выдаются уполномоченным участником сети.

    p
        | В&nbsp;отличие от&nbsp;публичного блокчейна Waves, Waves Enterprise&nbsp;&mdash; приватный блокчейн. В&nbsp;приватных блокчейнах существует администрация, которая может добавлять новых пользователей и&nbsp;распределять права доступа. Поэтому на&nbsp;базе Waves Enterprise компании могут строить системы с&nbsp;контролем доступа к&nbsp;транзакциям и&nbsp;конфиденциальным хранением информации.

    p
        strong Tokenomica
        | &nbsp;&mdash; это комплексное решение для эмиссии и&nbsp;торговли
        | 
        a(href="https://forklog.com/chto-takoe-security-tokeny-i-security-token-offering-sto/" target="_blank") security-токенами
        | . Если на&nbsp;блокчейне Waves можно выпускать кастомные utility-токены, Tokenomica предоставляет аналогичный функционал для создания и&nbsp;выпуска security-токенов. Это гибридное решение, совмещающее свойства централизованных и&nbsp;децентрализованных торговых площадок: ордерами и&nbsp;сделками заведует децентрализованная система на&nbsp;основе смарт-контрактов, а&nbsp;верификация клиентов и&nbsp;активов проходит централизованно в&nbsp;соответствии с&nbsp;законодательными нормами и&nbsp;политикой KYC.

    p
        | Задача Tokenomica&nbsp;&mdash; создать современную альтернативу традиционным биржам, где все дорого и&nbsp;медленно, и&nbsp;децентрализованным биржам, которым не&nbsp;хватает регулирования и&nbsp;контроля за&nbsp;качеством представленных активов.
