section.practice_subscribe
    .grid-container
        .practice_subscribe_content
            h3.practice_subscribe_header
                | Подпишитесь на рассылку
                span и не пропускайте новые спецпроекты
            form.practice_subscribe_form
                input(type="email" name="email" placeholder="Введите E-mail" required)
                button.button.secondary
                    | Подписаться
        .practice_subscribe_img
            img(srcset="./assets/img/unicorn_globe@2x.png 2x, ./assets/img/unicorn_globe.png 1x" src="./assets/img/unicorn_globe.png", alt="Планета")