section#why.practice_why(data-magellan-target="why")
    h2
        | Почему Waves Keeper и&nbsp;при чем здесь Web&nbsp;3.0
    p
        | Количество веб-сайтов и&nbsp;приложений, которые требуют авторизации пользователя, растет. С&nbsp;приходом Web&nbsp;3.0 необходимость авторизоваться во&nbsp;множестве систем и&nbsp;хранить приватные ключи может быстро перерасти в&nbsp;проблему. 
    p
        | Представьте, что вам нужно помнить логины и&nbsp;пароли для пары сотен приложений, а&nbsp;традиционные менеджеры паролей недостаточно безопасны. Без феноменальной памяти придется нелегко. 
    p
        | Когда права собственности и&nbsp;личные данные хранятся онлайн, одна утечка или взлом может полностью лишить человека всего, включая его личность. Требования к&nbsp;уровню безопасности данных и&nbsp;авторизации становятся строже. Миру Web&nbsp;3.0 нужны современные решения.
    p
        | Для Waves этим решением стал Waves Keeper. 
    .practice_cta
        .grid-container.practice_cta_container
            p.practice_cta_text
                | Мы&nbsp;в&nbsp;ForkLog тоже хотим в&nbsp;новую эпоху, а&nbsp;значит нам нужны современные решения для авторизации. Мы&nbsp;интегрировали сайт журнала с&nbsp;Waves Keeper и&nbsp;используем Web&nbsp;3.0 инфраструктуру
                | 
                a.secondary(href="https://wavesplatform.com/" target="_blank") Waves
                | . Теперь с&nbsp;помощью Waves Keeper вы&nbsp;можете авторизоваться на&nbsp;ForkLog и&nbsp;поддержать журнал, а&nbsp;еще поучаствовать в&nbsp;честном розыгрыше призов, но&nbsp;об&nbsp;этом дальше.
            .practice_cta_img
                picture
                    source(srcset="./assets/img/unicorn_mobile@2x.png 2x, ./assets/img/unicorn_mobile.png 1x" media="(max-width: 1023px)")
                    source(srcset="./assets/img/unicorn@2x.png 2x, ./assets/img/unicorn.png 1x")
                    img(src="./assets/img/unicorn.png", alt="Единорог")