#menu.off-canvas.off-canvas--menu.position-top(data-off-canvas data-transition="overlap" data-auto-focus="false")
    if page == 'theory'
        ul.off-canvas_menu.off-canvas_menu--top(data-magellan data-animation-easing="swing" data-close)
            li
                p Содержание
            li
                a(href='#history') Краткая история сети
            li
                a(href='#nowadays') Web 3.0 сегодня
            li
                a(href='#forecasts') Футуристические прогнозы
            li
                a(href='#conclusion') Заключение
    if page == 'practice'
        ul.off-canvas_menu.off-canvas_menu--top(data-magellan data-animation-easing="swing" data-close)
            li
                p Содержание
            li
                a(href='#why') Почему Waves Keeper и&nbsp;при чем здесь Web&nbsp;3.0
            li
                a(href='#how') Как работает Waves Keeper
            li
                a(href='#solutions') Другие решения Waves
            li
                a(href='#conclusion') Заключение

    ul.off-canvas_menu
        each item in menu
            li
                a(href=item.link class=item.link.includes(page) || item.active ? 'is_active' : false)
                    =item.label
    .off-canvas_buttons
        a.button.small.hollow.white(data-toggle="subcribe")
            | Подписка
        a.button.small.hollow.white(href="https://forklog.com/sp/" target="_blank")
            | Все спецпроекты
    +social(true)(class="social--popup")

#subcribe.off-canvas.off-canvas--subscribe.position-top(data-off-canvas data-auto-focus="false")
    +subscribe()(class="subscribe--popup")