mixin subscribe(img)
    section.subscribe&attributes(attributes)
        .grid-container.subscribe_container
            .subscribe_content
                h3.subscribe_header
                    | Подпишитесь на рассылку
                    span и не пропускайте новые спецпроекты
                form.subscribe_form
                    input(type="email" name="email" placeholder="Введите E-mail" required)
                    button.button.secondary
                        | Подписаться
        if img
            .subscribe_img
                picture
                    source(srcset="./assets/img/unicorn_globe_mobile@2x.png 2x, ./assets/img/unicorn_globe_mobile.png 1x" media="(max-width: 639px)")
                    source(srcset="./assets/img/unicorn_globe@2x.png 2x, ./assets/img/unicorn_globe.png 1x")
                    img(src="./assets/img/unicorn_globe.png", alt="Планета")