block const
-
    const title  = `Эволюция сети от Web 1.0 к Web 3.0${name ? `: ${name}` : ''}`;
    const domain = 'waves.salex.pro'

//- Components
include components/_icons
include components/_social
include components/_promo
include components/_subscribe
include components/_menu

include sections/_giveaway

doctype html
html(lang="ru")
    include components/_head
    body
        main.wrap.off-canvas-wrapper
            include sections/_header
            block content
                include sections/_footer
            //- include components/_popup
        include components/_offcanvas
        block js
            script(src="./js/app.min.js")