block const
-
    const title  = `Web 3.0 в теории и на практике`;
    const descr  = 'Эволюция сети от Web 1.0 к  Web 3.0';
    const domain = 'waves.salex.pro'

//- Components
include components/_icons
include components/_social
include components/_promo
//- include components/_menu

doctype html
html(lang="ru")
    include components/_head
    body
        main.wrap
            include sections/_header
            block content
                include sections/_footer
            //- include components/_popup
        //- include components/_offcanvas
        block js
            script(src="./js/app.min.js")