aside.aside(data-sticky-container)
    .aside_consists.sticky(data-sticky data-margin-top="0" data-anchor="stickyContent")
        p.aside_header
            | Содержание

        ul.aside_menu(data-accordion-menu)
            li
                a(href='#history') Краткая история сети

                ul.aside_menu.nested(data-magellan data-animation-easing="swing")
                    li
                        a(href='#historyWeb1') Web 1.0 
                    li
                        a(href='#historyWeb2') Web 2.0 
                    li
                        a(href='#historyWeb3') Web 3.0
        ul.aside_menu(data-magellan data-animation-easing="swing")
            li
                a(href='#nowadays') Web 3.0 сегодня
            li
                a(href='#forecasts') Футуристические прогнозы
            li
                a(href='#conclusion') Заключение

        ul.aside_menu.aside_menu--main
            li
                a(href="./")
                    | Главная
            li
                a(href="./practice.html")
                    | Практика