section.theory_conclusion
    h2#conclusion(data-magellan-target="conclusion")
        | Заключение
    p
        | Переход к&nbsp;новой эре происходит прямо сейчас: для всех основных концепций инфраструктуры Web&nbsp;3.0 существуют прототипы, технологии продолжают развиваться. 
    blockquote.theory_gradient
        | &laquo;Идет созревание блокчейн-технологий и&nbsp;искусственного интеллекта. Скоро мы&nbsp;увидим больше инструментов для нативного объединения баз данных и&nbsp;вычислительных решений, библиотеки для соединения разных технологических стеков, кросс-платформенность и&nbsp;стандартизация информации&raquo;,
        cite
            | Александр Иванов, основатель и&nbsp;генеральный директор
            | 
            a.secondary(href="https://wavesplatform.com/" target="_blank") Waves
            | .
    p 
        | Прогресс технологий делает переход к&nbsp;Web&nbsp;3.0&nbsp;возможным. Централизация сети в&nbsp;руках веб-гигантов, систематические нарушения приватности данных, проблемы доступа к&nbsp;контенту и&nbsp;безопасности делают переход к&nbsp;Web&nbsp;3.0&nbsp;неизбежным. 

    p 
        | На&nbsp;этом заканчивается теоретическая часть спецпроекта с&nbsp;историей и&nbsp;теорией Web&nbsp;3.0. Во&nbsp;второй части мы&nbsp;подробнее рассмотрим существующие решения для экосистемы Web&nbsp;3.0 и&nbsp;их&nbsp;роль в&nbsp;новой сети.

    .theory_buttons
        a.button.small.hollow(href="./")
            | На главную
        a.button.small.hollow(href="./practice.html")
            | Часть 2: «Практика»