section.theory_forecasts
    h2#forecasts(data-magellan-target="forecasts")
        | Футуристические прогнозы
    p
        | Нельзя сказать, когда именно наступит эра Web&nbsp;3.0, но&nbsp;можно предположить, как будет меняться наша жизнь по&nbsp;мере перехода к&nbsp;ней. Вместе с&nbsp;экспертами из&nbsp;команды Waves мы&nbsp;представили несколько таких изменений.
    
    dl
        dt
            | Умный поиск
        dd
            | С&nbsp;новыми возможностями поисковики Web&nbsp;3.0 способны отвечать на&nbsp;открытые вопросы и&nbsp;генерировать новую информацию по&nbsp;запросу пользователя. Роль поисковика совместилась с&nbsp;ролью личного ассистента. 


        dt
            | Умные вещи
        dd
            | Реализация Интернета вещей сделала всю электронику умной и&nbsp;подключенной к&nbsp;интернету. Тостер, автомобиль и&nbsp;светильник автономно собирают данные об&nbsp;окружающей среде и&nbsp;пересылают их&nbsp;в&nbsp;распределенное хранилище. Кофеварка знает, когда вам захочется кофе и&nbsp;заранее готовит его, пока вы&nbsp;спите. 

        dt
            | Авторизация
        dd
            | Никто не&nbsp;помнит, что такое логин, пароль и&nbsp;фишинг. Для авторизации внедрены специальные решения, которые шифруют и&nbsp;хранят ключи локально на&nbsp;устройстве. Пользователь просто заходит на&nbsp;нужный ресурс, а&nbsp;аутентификатор занимается доступом и&nbsp;безопасностью.

        dt
            | Децентрализованные приложения
        dd
            | Вместо привычных веб-приложений все пользуются dApps&nbsp;&mdash; децентрализованными приложениями, свободными от&nbsp;цензуры и&nbsp;государственных ограничений. Для разработки dApps построены удобные онлайн-платформы, где можно запускать, тестировать и&nbsp;поддерживать приложения любой сложности. Кроме того, код dApp чаще всего публичен, а&nbsp;значит любой может проверить, как работает то&nbsp;или иное приложение.

        dt
            | Демократия данных и&nbsp;большие данные
        dd
            | Любой пользователь в&nbsp;сети способен собирать и&nbsp;анализировать информацию не&nbsp;хуже специалиста-исследователя&nbsp;&mdash; достаточно попросить об&nbsp;этом алгоритмического ассистента. В&nbsp;таких условиях информация становятся доступнее и&nbsp;прозрачнее, раз любую статистику можно проверить самостоятельно. В&nbsp;сумме перечисленные технологии делают Всемирную сеть машиной для сбора, хранения и&nbsp;анализа больших данных в&nbsp;масштабах, недоступных ни&nbsp;одной из&nbsp;существующих корпораций: миллиарды устройств собирают данные, блокчейн хранит&nbsp;их, семантическая паутина категоризирует, а&nbsp;алгоритмы и&nbsp;ИИ анализируют.

        dt
            | Голосование и&nbsp;государственный аппарат
        dd
            | Голосования проходят в&nbsp;прозрачных блокчейн-системах, где пользователи авторизуются с&nbsp;помощью безопасных децентрализованных решений. Манипуляции с&nbsp;открепительными талонами, самозванцы на&nbsp;избирательных участках и&nbsp;ошибки в&nbsp;подсчетах остались в&nbsp;прошлом. Как и&nbsp;голоса избирателей, информация о&nbsp;госзакупках и&nbsp;тратах вносится в&nbsp;открытый неизменяемый реестр, который систематически проверяют энтузиасты-оппозиционеры. 

        dt
            | Приватность
        dd
            | В&nbsp;децентрализованной сети больше нет единой точки доступа к&nbsp;приватной информации. Все непубличные данные зашифрованы и&nbsp;распределены в&nbsp;хранилище. Без ключа никто не&nbsp;может расшифровать ваши медицинские записи или личную переписку. 
    p.theory_img.theory_img--forecasts
        img(srcset="./assets/img/forecasts@2x.png 2x, ./assets/img/forecasts.png 1x" src="./assets/img/forecasts.png", alt="Футуристические прогнозы")