section.theory_history
    h2#history
        | Краткая история сети
    .theory_gradient
        strong
            | Понятия &laquo;веб&raquo; и&nbsp;&laquo;интернет&raquo; часто взаимозаменяются, но&nbsp;это не&nbsp;одно и&nbsp;то&nbsp;же.
        p
            | Веб (Всемирная паутина, World Wide Web)&nbsp;&mdash; это распределенная система информационных ресурсов&nbsp;&mdash; веб-сайтов, связанных гиперссылками. Физически ресурсы расположены на&nbsp;разных компьютерах, подключенных к&nbsp;интернету. Работа веба опирается на&nbsp;URL-ссылки и&nbsp;DNS-сервера. URL (Uniform Resource Locators)&nbsp;&mdash; это ссылки вроде
            | 
            a.secondary(href="https://forklog.com") https://forklog.com
            | &nbsp;&mdash; читаемые адреса страниц и&nbsp;документов в&nbsp;сети. А&nbsp;DNS-сервера связывают такие ссылки с&nbsp;физическими адресами компьютеров в&nbsp;интернете. 
        p
            | Интернет&nbsp;&mdash; это глобальная система соединений между компьютерами. Это оптоволоконные кабели на&nbsp;дне океана, медные провода в&nbsp;квартирах и&nbsp;протоколы для обмена информацией и&nbsp;идентификации устройств. Помимо веба интернет обслуживает email и&nbsp;другие системы передачи данных.
        blockquote.quote.quote--concepts
            | Понятия «веб» и «интернет» часто взаимозаменяются, но это не одно и то же.


    h3#historyWeb1(data-magellan-target="historyWeb1")
        | Web&nbsp;1.0 
    p
        | Кто-то еще помнит мир до&nbsp;прихода Всемирной паутины. Ради новостей или любимых передач люди собирались у&nbsp;телевизоров и&nbsp;радио по&nbsp;расписанию. Репортажи и&nbsp;фильмы производили крупные компании или государственные предприятия, а&nbsp;обратной связи с&nbsp;авторами не&nbsp;было. Анализ аудитории ограничивался опросами и&nbsp;специальными устройствами вроде аудиметров Nielsen, которые нужно было устанавливать в&nbsp;домах зрителей, чтобы автоматически собирать статистику просмотра&nbsp;ТВ или прослушивания радио.
    .theory_fix
        p.theory_img
            img(srcset="./assets/img/family@2x.jpg 2x, ./assets/img/family.jpg 1x" src="./assets/img/family.jpg", alt="Фото семьи")
        blockquote.quote.quote--family
            | Ради новостей или любимых передач люди собирались у телевизоров и радио по расписанию
    .theory_website
        p
            | В&nbsp;1989 сотрудник CERN Тим Бернерс-Ли изобрел веб. Годом позже он&nbsp;разработал первый веб-браузер. В&nbsp;1991 браузер задействовали для обмена информацией между научными организациями и&nbsp;вскоре представили широкой публике. А&nbsp;6&nbsp;августа 1991 года Бернерс-Ли выложил первый веб-сайт на&nbsp;первом веб-сервере с&nbsp;адресом
            | 
            a.secondary(href="http://info.cern.ch/" target="_blank") http://info.cern.ch/
            | . Там изобретатель представил инструкции по&nbsp;использованию программ для работы с&nbsp;вебом, а&nbsp;позже&nbsp;&mdash; каталог других сайтов. 
        .theory_website_aside
            figure.theory_figure
                img(srcset="./assets/img/first_site@2x.png 2x, ./assets/img/first_site.png 1x" src="./assets/img/first_site.png", alt="Первый веб-сайт в истории")
                figcaption.theory_figure_caption
                    | Первый веб-сайт в истории
            blockquote.quote.quote--site
                | С появлением веб-сайтов контент, который раньше поставлялся по расписанию по радио и ТВ, стал доступен в любое время с любого подключенного к интернету компьютера.
        p
            | В&nbsp;1993&nbsp;CERN сделала технологию WWW общественным достоянием. В&nbsp;1994 году Тим Бернерс-Ли основал консорциум Всемирной паутины (World Wide Web Consortium, W3C)&nbsp;&mdash; организацию, которая разрабатывает технические стандарты для веба и&nbsp;интернета. Началась эра Web&nbsp;1.0.
        p
            | С&nbsp;появлением веб-сайтов контент, который раньше поставлялся по&nbsp;расписанию по&nbsp;радио и&nbsp;ТВ, стал доступен в&nbsp;любое время с&nbsp;любого подключенного к&nbsp;интернету компьютера.
        p
            | Сам Бернерс-Ли охарактеризовал Web&nbsp;1.0 как сеть &laquo;только для чтения&raquo; (read-only web). Эта характеристика отражает&nbsp;то, что информация была представлена на&nbsp;статичных страницах.
        p
            | Большинство пользователей потребляли контент, размещенный в&nbsp;сети меньшинством. Сеть населяли простые ресурсы: сайты с&nbsp;объявлениями, онлайн-каталоги магазинов, тематические форумы и&nbsp;персональные страницы. Возможность прокомментировать контент ограничивалась отдельной гостевой страницей на&nbsp;сайте, а&nbsp;высылать комментарии нужно было с&nbsp;помощью email-клиента.
    .theory_img
        img(srcset="./assets/img/old_website@2x.jpg 2x, ./assets/img/old_website.jpg 1x" src="./assets/img/old_website.jpg", alt="apple.com")
    p
        | Ранняя Всемирная паутина была хаотичной децентрализованной системой из&nbsp;множества независимых компьютеров, которые общались между собой напрямую посредством модемов и&nbsp;телефонных сетей. Позднее подключение к&nbsp;интернету стало доступнее благодаря централизованным интернет-провайдерам и&nbsp;выделенным линиям. 
    p
        | Мощные персональные компьютеры становились доступнее для пользователей. Возникли технологии DHTML и&nbsp;AJAX, на&nbsp;которых основаны современные веб-приложения. 
    p
        | К&nbsp;концу 90-х популярность интернет-компаний и&nbsp;завышенные ожидания от&nbsp;новой постиндустриальной экономики привели к&nbsp;инвестиционному ажиотажу. Люди охотно инвестировали в&nbsp;&laquo;доткомы&raquo;&nbsp;&mdash; компании с&nbsp;бизнесом в&nbsp;интернете. Такие компании часто стремились скорее масштабироваться за&nbsp;счет денег инвесторов и&nbsp;часто вообще не&nbsp;получали прибыль. В&nbsp;таком режиме деньги быстро кончались, компании ликвидировали, а&nbsp;инвесторы разочаровывались. В&nbsp;2000 году начался &laquo;крах доткомов&raquo;: множество интернет-компаний разорились, а&nbsp;оставшиеся поделили между собой бизнес-ниши и&nbsp;стали современными веб-гигантами. В&nbsp;индустрии назрели перемены, но&nbsp;переход к&nbsp;новым технологиям был только частью этих перемен. 
    .theory_fix
        p
            | При этом основные новшества следующей эпохи заключались не&nbsp;в&nbsp;технологии, а&nbsp;в&nbsp;способах использования технологии.
        blockquote.quote.quote--innovations
            | Основные новшества следующей эпохи заключались не в технологии, а в способах использования технологии.
    h3#historyWeb2(data-magellan-target="historyWeb2")
        | Web&nbsp;2.0 
    p
        | Впервые
        | 
        a(href="http://darcyd.com/fragmented_future.pdf" target="_blank") использовал
        | 
        | термин Web&nbsp;2.0 Дарси Динуччи в&nbsp;1999&nbsp;году. Под Web&nbsp;2.0 Динуччи подразумевал будущее сети, в&nbsp;котором технологии HTML и&nbsp;гиперссылки используются множеством разных устройств. Сегодня эти представления скорее описывают технологии Интернета вещей, а&nbsp;термин Web&nbsp;2.0 приобрел новое значение. 
    p
        | Вторая жизнь понятия началась после первой Web&nbsp;2.0 Conference в&nbsp;2004&nbsp;году. Тогда в&nbsp;своих докладах Дейл Догерти и&nbsp;известный издатель Тим О&rsquo;Райли описали новый веб как платформу для приложений и&nbsp;подчеркнули ценность контента, который генерируют сами пользователи.
    .theory_fix
        p
            | Web&nbsp;2.0 сейчас&nbsp;&mdash; это сеть интерактивных веб-сайтов и&nbsp;платформ, где контент производят пользователи, а&nbsp;не&nbsp;владелец ресурса. Facebook, YouTube и&nbsp;Twitter&nbsp;&mdash; платформы эпохи Web&nbsp;2.0, ориентированные на&nbsp;пользовательский контент и&nbsp;социальные взаимодействия.
        blockquote.quote.quote--web20
            | В&nbsp;Web&nbsp;2.0 потребители контента одновременно выступают его создателями.
    
    p
        | Мобильная революция начала 2000-х дала нам карманные компьютеры, способные записывать и&nbsp;публиковать контент. Появились сайты, созданные для просмотра контента на&nbsp;мобильных устройствах. Отсутствие привязки к&nbsp;рабочему столу с&nbsp;домашним&nbsp;ПК вместе с&nbsp;датчиками местоположения в&nbsp;смартфонах открыли нишу для геолокационных сервисов. Возникли мобильные приложения и&nbsp;платформы для их&nbsp;распространения. 
    p
        | В&nbsp;новой паутине стали популярными краудфандинговые проекты вроде Kickstarter и&nbsp;IndieGoGo.
    p
        | С&nbsp;общедоступными средствами для распространения контента людям стало проще доносить послания другим людям по&nbsp;всему миру. Как следствие, в&nbsp;нашей речи закрепились понятия для описания новых социальных явлений в&nbsp;сети: &laquo;троллинг&raquo;, &laquo;флуд&raquo; и&nbsp;&laquo;спам&raquo;.
    ol.theory_gradient.theory_gradient--list
        li
            | В&nbsp;мире без Всемирной паутины мы&nbsp;собирались у&nbsp;телевизоров, чтобы посмотреть вечерний новостной репортаж, подготовленный профессиональными журналистами. 
        li
            | В&nbsp;мире Web&nbsp;1.0&nbsp;мы получили возможность посмотреть все тот&nbsp;же новостной репортаж на&nbsp;экране&nbsp;ПК в&nbsp;удобное время. 
        li
            | В&nbsp;мире Web&nbsp;2.0 появилась возможность отслеживать новости в&nbsp;постах пользователей Facebook и&nbsp;публиковать собственные наблюдения где и&nbsp;когда угодно. 
    p
        | С&nbsp;коммерциализацией сети появились крупные интернет-провайдеры, а&nbsp;доступ в&nbsp;интернет стал услугой централизованных организаций. Это повысило качество услуг и&nbsp;сделало интернет общедоступным. Вместе с&nbsp;тем доступ в&nbsp;онлайн контролируют крупные компании, которые руководствуются финансовыми интересами и&nbsp;подчиняются государственным структурам. 

    .theory_fix
        p
            | В&nbsp;сравнении с&nbsp;прошлой эпохой сеть тоже стала более централизованной. Веб-гиганты этого периода вроде Google, Facebook и&nbsp;Amazon контролируют облачные сервисы, крупные вычислительные центры и&nbsp;данные о&nbsp;миллионах пользователей. 
        blockquote.quote.quote--decade
            | Эпоха Web&nbsp;2.0 продолжается с&nbsp;середины двухтысячных, однако представления о&nbsp;следующей стадии развития сети&nbsp;&mdash; Web&nbsp;3.0&nbsp;&mdash; сформировались еще в&nbsp;первые десять лет существования Всемирной паутины.

    p
        | Если серверы Amazon выйдут из&nbsp;строя, пострадают бизнесы по&nbsp;всему миру. Наглядным примером стала блокировка сервиса Telegram в&nbsp;России, из-за которой в&nbsp;стране закрыли доступ к&nbsp;800 тысячам IP-адресов Amazon. 

    p
        | Контроль Facebook над личными данными сотен миллионов пользователей приводит к&nbsp;крупным утечкам вроде инцидента с&nbsp;компанией Cambridge Analytica в&nbsp;2018&nbsp;году.
        
    p
        | Эпоха Web&nbsp;2.0 продолжается с&nbsp;середины двухтысячных, однако представления о&nbsp;следующей стадии развития сети&nbsp;&mdash; Web&nbsp;3.0&nbsp;&mdash; сформировались еще в&nbsp;первые десять лет существования Всемирной паутины.
    .theory_fix
        h3#historyWeb3(data-magellan-target="historyWeb3")
            | Web&nbsp;3.0
        figure.theory_figure.theory_figure--tim
            img(srcset="./assets/img/tim@2x.jpg 2x, ./assets/img/tim.jpg 1x" src="./assets/img/tim.jpg", alt="Тим Бернерс-Ли, 1990 год")
            figcaption.theory_figure_caption
                | Тим Бернерс-Ли, 1990 год
    p
        | Первая центральная идея Web&nbsp;3.0&nbsp;&mdash; семантическая паутина (semantic web). Не&nbsp;обошлось без создателя Всемирной паутины Тима Бернерса-Ли, который впервые описал семантическую паутину в&nbsp;1994&nbsp;году. Позднее его статья в&nbsp;Scientific American 2001 года принесла идее популярность в&nbsp;интернет-сообществе, а&nbsp;понятия &laquo;Web&nbsp;3.0&raquo; и&nbsp;&laquo;семантическая паутина&raquo; стали почти взаимозаменяемыми. Сейчас семантическая паутина&nbsp;&mdash; одна из&nbsp;основных технологий в&nbsp;основе новой сети.
    p
        | В&nbsp;2007 году автор современного термина Web&nbsp;2.0 Тим О&rsquo;Рейли разграничил Web&nbsp;3.0 и&nbsp;семантической паутины. О&rsquo;Рейли описывал Web&nbsp;3.0 как взаимодействие между интернетом и&nbsp;офлайн-миром. Это взаимодействие реализуется благодаря датчикам и&nbsp;смарт-устройствам&nbsp;&mdash; тому, что сейчас называют &laquo;интернетом вещей&raquo;. 
    p
        | О&rsquo;Рейли также привел спорную цитату американского автора Новы Спивака:
    p
        | &laquo;Web&nbsp;3.0&nbsp;&mdash; эра, в&nbsp;которую мы&nbsp;будем обновлять бэкенд сети после десятилетия фокуса на&nbsp;фронтэнде (Web&nbsp;2.0 был об&nbsp;AJAX, тегах и&nbsp;других фронтэнд-инновациях в&nbsp;пользовательском опыте).&raquo;
    p
        | О&rsquo;Рейли не&nbsp;согласился с&nbsp;тем, что Web&nbsp;2.0&nbsp;&mdash; эпоха фокуса на&nbsp;фронтенде, и&nbsp;настоял на&nbsp;том, что все важные прорывы этого периода происходили в&nbsp;бэкенде. Однако представления Спивака относительно семантической паутины и&nbsp;технологий следующего этапа эволюции сети оправдываются. Он&nbsp;
        a(href="https://novaspivack.typepad.com/nova_spivacks_weblog/2007/10/web-30----the-a.html" target="_blank") писал
        |, что Web&nbsp;3.0 станет периодом с&nbsp;2010 по&nbsp;2020&nbsp;год, а&nbsp;семантическая паутина будет важной частью экосистемы. В&nbsp;то&nbsp;же время должны произойти и&nbsp;другие технологические прорывы. Этими прорывами стали блокчейн, машинное обучение и&nbsp;уже упомянутый интернет вещей. 
    p
        | Помимо прогресса технологий, новая эра сети подразумевает социальные и&nbsp;экономические перемены.
    blockquote.theory_gradient
        | &laquo;Web&nbsp;3.0&nbsp;не стоит понимать исключительно как термин из&nbsp;области информационных технологий. Развитие новых способов взаимодействия в&nbsp;онлайне требует от&nbsp;людей еще и&nbsp;социокультурных изменений. Это можно сравнить с&nbsp;тем, как изменились социальные аспекты взаимодействия между людьми в&nbsp;2000-х, когда массовый доступ в&nbsp;интернет и&nbsp;социальные сети распространились на&nbsp;большую часть земного шара, окончательно уничтожив границы владения и&nbsp;сдерживания информации&raquo;,
        cite Александр Иванов, основатель и&nbsp;генеральный директор Waves.
    p
        | В&nbsp;погоне за&nbsp;меняющимся рынком веб- и&nbsp;ИТ-гиганты инвестируют в&nbsp;решения для новой ниши Web&nbsp;3.0, но&nbsp;у&nbsp;них все равно не&nbsp;будет привычного преимущества перед молодыми проектами. Не&nbsp;все крупные игроки на&nbsp;рынке смогут пережить переход.
    blockquote.theory_gradient.theory_gradient--unicorns
        | &laquo;Все гиганты рано или поздно обращают внимание на&nbsp;возникающие технологии. Но&nbsp;технологические революции очень редко начинаются с&nbsp;крупных игроков. Мы&nbsp;ожидаем скорее появления новых единорогов, какими были в&nbsp;свое время Facebook и&nbsp;Amazon, нежели эффективной трансформации старых игроков во&nbsp;что-то новое&raquo;,
        cite Глеб Сычев, директор по&nbsp;маркетингу Waves.
        .theory_gradient_img
            img(srcset="./assets/img/unicorns@2x.png 2x, ./assets/img/unicorns.png 1x" src="./assets/img/unicorns.png", alt="Единороги")