section.theory_nowadays
    h2#nowadays(data-magellan-target="nowadays")
        | Web&nbsp;3.0 сегодня
    p
        | Web&nbsp;3.0&nbsp;&mdash; это веб-инфраструктура из&nbsp;нескольких основных технологий: блокчейна, машинного обучения и&nbsp;ИИ, семантической паутины, и&nbsp;интернета вещей. Каждая из&nbsp;этих технологий&nbsp;&mdash; неотъемлемая часть будущей сети со&nbsp;своей ролью в&nbsp;экосистеме.
    p
        | Начнем с&nbsp;
        strong семантической паутины
        | . Суть этой концепции&nbsp;&mdash; сделать всю информацию в&nbsp;сети читаемой и&nbsp;&laquo;понятной&raquo; для машин. Для реализации семантической паутины для всей информации в&nbsp;сети нужно внедрить метаданные&nbsp;&mdash; информацию об&nbsp;информации. Благодаря метаданным алгоритм может &laquo;понимать&raquo; контекст, строить логические взаимосвязи между кусочками информации и&nbsp;формировать ассоциации, почти как люди. 
    .theory_img
        img(srcset="./assets/img/semantic_web@2x.jpg 2x, ./assets/img/semantic_web.jpg 1x" src="./assets/img/semantic_web.jpg", alt="Семантический web")
    p
        | Ключевой элемент в&nbsp;реализации семантической паутины&nbsp;&mdash; набор спецификаций
        | 
        a(href="https://www.w3.org/TR/" target="_balnk") Resource Description Framework
        |
        | (RDF) от&nbsp;W3C. RDF&nbsp;&mdash; это модель описания информации через специальные понятные машине утверждения&nbsp;&mdash; триплеты. Триплет состоит из&nbsp;трех частей: &laquo;субъект&raquo;, &laquo;предикат&raquo; и&nbsp;&laquo;объект&raquo;. 
    .theory_gradient.theory_gradient--img
        p
            | Утверждение &laquo;яблоня&nbsp;&mdash; плодовое дерево&raquo; в&nbsp;модели RDF будет выглядеть примерно как &laquo;яблоня&nbsp;&mdash; входит в&nbsp;множество&nbsp;&mdash; плодовые деревья&raquo;.
        img(srcset="./assets/img/subject_predicate_object@2x.png 2x, ./assets/img/subject_predicate_object.png 1x" src="./assets/img/subject_predicate_object.png", alt="Субъект -> Предикат -> Объект")
    p
        | Такими утверждениями можно описать что угодно: человека, веб-приложение или музыкальное произведение. 
    p
        | Одна из&nbsp;реализаций RDF&nbsp;&mdash; Дублинское ядро (Dublin Core). Это база данных понятий английского языка для описания любого цифрового или физического ресурса вроде видео на&nbsp;YouTube или бумажной книги. 
    p
        | Популярный формат электронных книг .epub
        | 
        a(href="http://www.idpf.org/epub/20/spec/OPF_2.0_latest.htm#Section2.2" target="_blank") использует
        |
        | Дублинское ядро для представления метаданных в&nbsp;файлах OPF.
    p
        strong Машинное обучение
        | &nbsp;&mdash; это система методов, которую компьютерные алгоритмы используют для решения задач без непосредственных инструкций. Алгоритм обучается выполнению конкретной задачи. Он&nbsp;анализирует набор данных и&nbsp;самостоятельно выявляет в&nbsp;них закономерности, которые потом использует в&nbsp;выполнении задачи.
    .theory_gradient.theory_gradient--spaceman
        p
            | Представьте алгоритм, который отличает кошек от&nbsp;собак на&nbsp;фотографиях. Чтобы все получилось, программисты показали алгоритму очень много фотографий кошек и&nbsp;сказали, что это кошки, а&nbsp;потом показали столько&nbsp;же фотографий собак и&nbsp;сказали, что это собаки. Алгоритм проанализировал все фото и&nbsp;определил, какие данные на&nbsp;фото соответствуют тегу &laquo;кошка&raquo;, а&nbsp;какие&nbsp;&mdash; тегу &laquo;собака&raquo;. Теперь вам не&nbsp;придется самостоятельно различать животных на&nbsp;фото.
        .theory_gradient_img
            img(srcset="./assets/img/spaceman@2x.png 2x, ./assets/img/spaceman.png 1x" src="./assets/img/spaceman.png", alt="Космонавт")
    p
        | Система
        | 
        a(href="https://www.ibm.com/watson" target="_blank") IBM Watson
        | и&nbsp;библиотека
        | 
        a(href="https://www.tensorflow.org/" target="_blank") Tensorflow
        | 
        | от&nbsp;Google Brain&nbsp;&mdash; примеры популярных инициатив в&nbsp;области машинного обучения и&nbsp;ИИ.
    p
        | Концепция
        | 
        strong Интернета вещей (Internet of&nbsp;Things, IoT)
        | 
        | описывает сеть из&nbsp;множества устройств, которые снабжены датчиками и&nbsp;подключением к&nbsp;интернету, взаимодействуют между собой и&nbsp;могут контролироваться удаленно. Интернет вещей связывает мир веб-приложений с&nbsp;миром &laquo;умных&raquo; физических объектов: тостеров, автомобилей и&nbsp;домов. 
    p.theory_img
        img(srcset="./assets/img/iot@2x.png 2x, ./assets/img/iot.png 1x" src="./assets/img/iot.png", alt="Космонавт")
    p.theory_gradient
        | Технологии &laquo;умного дома&raquo; вроде замков и&nbsp;термостатов с&nbsp;удаленным управлением&nbsp;&mdash; элемент Интернета вещей. Такой дом может автоматически регулировать обогрев и&nbsp;освещение, узнавать хозяина у&nbsp;входной двери и&nbsp;оповещать о&nbsp;забытом в&nbsp;духовке пироге. Все потому, что в&nbsp;каждом выключателе, термостате и&nbsp;кухонном приборе установлены датчики и&nbsp;контроллеры, которые обмениваются данными и&nbsp;инструкциями через интернет. 
    .theory_fix.theory_fix--forecasts
        p
            | Согласно
            | 
            a(href="https://techjury.net/stats-about/internet-of-things-statistics/" target="_blank") прогнозам
            | 
            | TechJury, к&nbsp;2025 году количество устройств, подключенных к&nbsp;Интернету вещей, превысит 64&nbsp;млрд.
        blockquote.quote.quote--forecasts
            | Согласно прогнозам TechJury, к 2025 году количество устройств, подключенных к Интернету вещей, превысит 64 млрд.

    p
        | Для Web&nbsp;3.0 устройства Интернета вещей выступают не&nbsp;только терминалами доступа в&nbsp;сеть, но&nbsp;и&nbsp;постоянными источниками данных о&nbsp;физическом мире. Так в&nbsp;сети накапливаются подробные и&nbsp;непредвзятые сводки о&nbsp;маршрутах движения людей в&nbsp;пробках с&nbsp;привязкой ко&nbsp;времени и&nbsp;географии. 

    p
        | С&nbsp;расширенными возможностями для поиска и&nbsp;анализа информации в&nbsp;сети такие данные можно будет использовать как угодно: в&nbsp;урбанистике, статистике или поисках лучшего маршрута в&nbsp;офис. С&nbsp;другой стороны, когда контроль над большими данными оказывается у&nbsp;централизованной структуры, растет риск утечки информации. А&nbsp;еще интересы такой структуры могут не&nbsp;совпадать с&nbsp;интересами сообщества.

    p
        strong Блокчейн
        | &nbsp;&mdash; технология распределенных баз данных. Информация в&nbsp;блокчейне записана в&nbsp;цепочке блоков, связанных в&nbsp;строго определенной последовательности. Система на&nbsp;базе блокчейна способна работать без центральной администрации и&nbsp;доверия между участниками. Вместо директора решения в&nbsp;такой системе принимаются через голосование. А&nbsp;действия участников подчиняются протоколу консенсуса&nbsp;&mdash; набору правил для создания и&nbsp;записи блоков в&nbsp;реестр. 
    .theory_gradient.theory_gradient--blockchain
        p
            | В&nbsp;блокчейне биткоина блоки содержат информацию о&nbsp;криптовалютных транзакциях между участниками. Протокол консенсуса дает участникам право добавить блок с&nbsp;транзакциями в&nbsp;реестр только после решения криптографической головоломки. 
        p
            | Кроме данных о&nbsp;финансовых транзакциях, блокчейн может хранить любую информацию: медицинские записи, музыку или данные с&nbsp;термометра в&nbsp;вашей гостинной.
        .theory_gradient_img
            img(srcset="./assets/img/blockchain@2x.png 2x, ./assets/img/blockchain.png 1x" src="./assets/img/blockchain.png", alt="Блокчейн")
    p
        | Блокчейн-технологии играют роль связующего элемента экосистемы Web&nbsp;3.0. Распределенный реестр&nbsp;&mdash; основа децентрализованной инфраструктуры сети, в&nbsp;которой веб-приложения могут обмениваться информацией напрямую и&nbsp;все участники равноправны.
    blockquote.theory_gradient
        | &laquo;Web&nbsp;3.0 стоит рассматривать как новый инфраструктурный слой&nbsp;&mdash; децентрализованную сеть&nbsp;&mdash; которая будет развиваться вместе с&nbsp;традиционным централизованными технологиями и&nbsp;рождать гибридные модели&raquo;,
        cite отметил Глеб Сычев, директор по&nbsp;маркетингу Waves.
    p
        | Благодаря децентрализации переход к&nbsp;Web&nbsp;3.0 может решить проблемы непрозрачности веб-сервисов, цензуры в&nbsp;сети и&nbsp;конфиденциальности личных данных. Открытый общественный реестр обеспечивает прозрачную отчетность. Без центральной власти один участник не&nbsp;может навязывать другим решения или получить доступ к&nbsp;чужим зашифрованным данным.
    blockquote.theory_gradient
        | &laquo;Блокчейн решает проблему доверия между большим количеством участников. Гарантом легитимности проводимых операций выступает не&nbsp;централизованная организация, а&nbsp;механизм консенсуса, который известен всем участникам. Развивая эту мысль в&nbsp;контексте интернета, можно сказать, что Web&nbsp;3.0&nbsp;&mdash; это новая прозрачная и&nbsp;децентрализованная версия сети&raquo;,
        cite Александр Иванов, основатель и&nbsp;генеральный директор Waves.
    p
        | Блокчейн-инфраструктура для Web&nbsp;3.0 уже строится. Например, проект
        | 
        a(href="https://brave.com/" target="_blank") Brave
        | 
        | предлагает браузер с&nbsp;открытым кодом и&nbsp;новым подходом к&nbsp;онлайн-рекламе, проект
        | 
        a(href="https://storj.io/" target="_blank") Storj
        | &nbsp;&mdash; децентрализованную систему для хранения файлов, а&nbsp;
        a(href="https://wavesplatform.com/products-keeper" target="_blank") Waves Keeper
        | &nbsp;&mdash; универсальное решение для авторизации.
