.sponsor
    p.sponsor_info
        | Спонсор спецпроекта — 
        | 
        a.secondary(href="https://wavesplatform.com/" target="_blank") Waves
        | 
        | — поставщик блокчейн-решений для экосистемы Web 3.0. Среди разработок компании: платформа для децентрализованных приложений Waves Platform, масштабируемый блокчейн для предприятий Vostok, браузерное приложение-аутентификатор Waves Keeper и язык программирования Ride.
    a.button.secondary(href="https://wavesplatform.com/" target="_blank")
        | К платформе

a.up.up--theory(href="#top" data-smooth-scroll data-offset="58" data-animation-easing="swing")